{% extends "_layout.twig" %}

{% if pagetitle != 'Main Page' %}
	{% set title = pagetitle %}
	{% set description = page.content | split('\n')[0] %}
{% else %}
	{% set description = "The Voxelmanip Minetest Wiki..." %}
{% endif %}

{% set pagename = '/' ~ pagetitle_slugified %}

{% block footer %}
	{% if pagecontent %}
		<a href="{{ constant('GIT_REPO') }}/blob/master/pages/{{ pagetitle_slugified }}.md">View page on GitHub</a>
	{% endif %}
{% endblock %}

	{% block content %}
{% if pagetitle != 'Main Page' %}
	<h1>{{ pagetitle }}</h1>
{% endif %}

{% if pagecontent %}
	{{ pagecontent | markdown_wiki }}
{% else %}
	<p>A wiki page with this name does not exist.</p>
{% endif %}
	{% endblock %}
